
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 5em;
    font-family: 'Marck Script', cursive;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 850px;
    height: 850px;
    border: 30px solid rgb(187, 0, 0);
    border-radius: 10px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.gridbox {
    flex-grow: 1;
    border: .5px solid black;
}

.active-box {
    background-color: darkgray;
}