
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 960px;
    height: 960px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.gridbox {
    flex-grow: 1;
    border: .5px solid black;
}

.active-box {
    background-color: darkgray;
}